@model IEnumerable<DemoCodeFirst.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KindOfVehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KindOfVehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LicensePlate">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LicensePlate">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LicensePlate">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
